

<form [formGroup]="diagnosisForm" class="form-horizontal" (ngSubmit)="onSubmit()" >
        <div class="card mt-8">
                <h4 class="card-header">{{pageLabel}}</h4>
                <div class="card-body">
                            <div class="form-group" [ngClass]="{'has-error' : formErrors.fullname}">
                                <label class="col-sm-2 control-label" for="fullname">Full Name </label>
                                <div class="col-sm-8">
                                    <input id=fullname formControlName="fullname" type="text" class="form-control" (blur)="logValidationErrors()">
                                    <span *ngIf="formErrors.fullname" class="custom-control-span" >
                                            {{formErrors.fullname}}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error' : formErrors.mobileno}" >
                                    <label class="col-sm-2 control-label" for="fullname">Mobile No </label>
                                    <div class="col-sm-8">
                                        <input id=mobileno formControlName="mobileno" type="text" 
                                        class="form-control" (blur)="logValidationErrors()">
                                        <span class="custom-control-span" *ngIf="formErrors.mobileno">
                                                {{formErrors.mobileno}}
                                        </span>
                                    </div>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error' : formErrors.address}" >
                                    <label class="col-sm-2 control-label" for="fullname">Address</label>
                                    <div class="col-sm-8">
                                        <input id="address" formControlName="address" type="text" class="form-control" (blur)="logValidationErrors()">
                                        <span class="custom-control-span" *ngIf="formErrors.address">
                                                {{formErrors.address}}
                                        </span>
                                    </div>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error' : formErrors.city}" >
                                        <label class="col-sm-2 control-label" for="fullname">City</label>
                                        <div class="col-sm-8">
                                                    <select class="form-control" (change)="logValidationErrors()" formControlName="city">
                                                    <option value="">Choose city</option>
                                                    <option *ngFor="let city of cities" [ngValue]="city.name">{{city.name}}</option>
                                                    </select>
                                                    <span class="custom-control-span" *ngIf="formErrors.city">
                                                            {{formErrors.city}}
                                                    </span>
                                        </div>
                                </div>
                                <div class="form-group" [ngClass]="{'has-error' : formErrors.state}" >
                                            <label class="col-sm-2 control-label" for="fullname">State</label>
                                            <div class="col-sm-8">
                                                        <select class="form-control" (change)="logValidationErrors()" formControlName="state">
                                                        <option value="">Choose State</option>
                                                        <option *ngFor="let state of states" [ngValue]="state.name">{{state.name}}</option>
                                                        </select>
                                                        <span class="custom-control-span" *ngIf="formErrors.state">
                                                                {{formErrors.state}}
                                                        </span>
                                            </div>
                                </div>
                                <div class="form-group" [ngClass]="{'has-error' : formErrors.lab}" >
                                                <label class="col-sm-2 control-label" for="lab">Lab</label>
                                                <div class="col-sm-8">
                                                            <select class="form-control" (change)="logValidationErrors()" formControlName="lab">
                                                            <option value="">Choose Lab</option>
                                                            <option *ngFor="let lab of labs" [ngValue]="lab.name">{{lab.name}}</option>
                                                            </select>
                                                            <span class="custom-control-span" *ngIf="formErrors.lab">
                                                                    {{formErrors.lab}}
                                                            </span>
                                                </div>
                                </div>
                           
                            <div class="form-group" [ngClass]="{'has-error' : formErrors.status}" >
                                    <label class="col-sm-2 control-label" for="fullname">Covid-19 Status</label>
                                    <div class="col-sm-8">
                                            <select class="form-control" (change)="logValidationErrors()"  id="status" name="status" formControlName="status" >
                                                    <option  value="">Select Status</option>
                                                    <option  value="Positive">Positive</option>
                                                    <option  value="Negative">Negative</option>
                                            </select>
                                        <span class="custom-control-span" *ngIf="formErrors.status">
                                                {{formErrors.status}}
                                        </span>
                                    </div>
                            </div>
                            <!--
                            <div class="form-group" [ngClass]="{'has-error' : formErrors.state}" >
                                    <label class="col-sm-2 control-label" for="fullname">Tested On </label>
                                    <div class="col-sm-8">
                                        <input id="testedOn" formControlName="testedOn" type="date" class="form-control" (blur)="logValidationErrors()">
                                        <span class="custom-control-span" *ngIf="formErrors.testedOn">
                                                {{formErrors.testedOn}}
                                        </span>
                                    </div>
                            </div>-->
                            
                            
                            <app-error [error]="error" *ngIf="isError" ></app-error>
                </div>
                <div class="card-footer">
                        <button class="btn btn-outline-primary mr-1" type="submit">Save</button>
                        <button class="btn btn-outline-danger" type="reset" >Reset</button>
                </div>
            </div>
            
            <!--<button  appDefualtCustomBgColor="red" >Custom Directive Button </button> -->
</form> 