<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h4> Covid Diagnosis Tracker </h4>
                </div>
                <div class="col-lg-3 col-sm-2 col-xs-3">
                    <h3> Contact </h3>
                    <ul>
                        <li> <p> White field </p> </li>
                        <li> <p> Bangalore, India </p> </li>
                    </ul>
                </div>
               
                <div class="col-lg-3 col-sm-2 col-xs-3">
                    <ul>
                        <li> <h5> <a href="#" style="margin-top: 5em"> About Us</a> </h5></li>
                        <li> <h5><a href="#"> Contact Us </a> </h5></li>
                    </ul>
                </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
</div>                   
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left copyright"> Copyright © nuedesic 2020. All right reserved. </p>
       
        </div>
    </div>
    <!--/.footer-bottom--> 

</footer>