/* You can add global styles to this file, and also import other style files */
@import './vars';

@function color($color-type){
    @return map-get($validation-color, $color-type );
}

html, body { height: 100%;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ng-valid[required], .ng-valid.required  {
    border-left: color(border-left-valid); /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left:color(border-left-invalid ); /* red */
  }
  
.form-control.ng-touched.ng-invalid{
  border-color: color(border-color );
}

.loading {
    box-shadow: 20px 20px 0px pink !important;
}